@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

}

body{
    background-color: #171616;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: rgb(61, 57, 57);
    gap: 300px;
}

a {
    width: 70px;
    height: 41px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: pink;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    color:#F37A7A;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 37px;
    margin-top: 111px;
}

h3 {
    color:#F37A7A;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 73px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

img{
    border:solid;
    border-color: #c74f4f;
}

p {
    font-size: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 157.6%;
    color:#c74f4f;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 630px;
}

.me {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border:solid;
    border-color: palevioletred;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;
    width: 509px;
    margin-left: 80px;
    background-image: 50%;
}

.container-1 {
    display: flex;
    margin: 80px;
}


.container-2 {
    margin-top: 200px;
    align-content: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}


h4 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #F37A7A;
}

.skill {
   width:100%;
   flex-direction: row;
   justify-items: center;
}


i {
    
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.el {
    width: 100px;
    display: flex;
    gap:100px;
    
}

.io {
    margin-left: 50px;
}

.p {
    margin-left: 340px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 51px;
    color: #818080;
}

.pi {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #818080;
    width: 280px;

}

.pro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 78px;
}

.block {
    border-radius: 15px;
    border: solid;
    border-color:#c74f4f;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 78px;
    width: 1040px;
    height: 447px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/home.png);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 50px;
    margin-top: 30px;
}

.col {
    align-content: center;
    padding-left: 573px;
    margin-top: -234px;
}

.lol {
    margin-top: 71px;
    margin-left: 30px;
}

.pip {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    width: 280px;
}

.kio {
    margin-top: 50px;
    margin-left: 70px;
}

.media {
    display: flex;
}


.end {
    margin-top: 80px;
    background: url(img/wave.svg) no-repeat;

}

.input-group{
    margin-left:500px;
}

#text-input-field{
    border-radius:15px;
    border:solid;
    border-color:rgb(209, 22, 53);
    width:300px;
    height:50px;
}

#add-button{
    border-radius:10px;
    height:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

#add-button:hover{
    background-color: palevioletred;
}

.social{
    margin-top:200px;
    margin-left:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:200px;
}


